<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body>
 

    @Scripts.Render("~/bundles/libs")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/require")    
    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", required: false)
    @RenderBody()   

</body>
</html>
